div{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

input{
  border-radius: 10rem 0 0 10rem;
  border: none;
  height: 3rem;
  outline: none;
  background-color: rgba(70, 69, 69, 0.238);
  padding: 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  width: 20rem;
}

button{
  border-radius: 0 10rem 10rem 0;
  border: none;
  height: 3rem;
  outline: none;
  background-color: red;
  font-size: 1rem;
  width: 5rem;
  opacity: 0.8;
  color: white;
}
button{
  opacity: 1;
  cursor: pointer;
}
